<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <title>Admin panel</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<!--Navbar-->

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ">
        <b> <span th:email="${user.getEmail()}"></span> </b>
        <span>with roles:</span>
        <span th:each="role :${user.getRoles()}">
            <span th:text="${role.getValue()}"></span>
        </span>
    </a>

    </div>
    <form class="d-flex">
        <a th:href="@{/logout}" class="btn btn-link text-white-50" style="text-decoration: none">Logout</a>
    </form>
    </div>
</nav>

<!--  Vertical pills кнопки Admin и User слева-->

<div class="container-fluid" style="max-height: 100%; height: 100vh; background-color: #f8f9fa">
    <div class="row">
        <div class="p-0 col-2" style="max-height: 100%; height: 100vh; background-color: white">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="admin" sec:authorize="hasAnyRole('ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" href="user" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"
                   role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>


        <!--Заголовок Admin Panel-->

        <div class="col-md-10 bg-light" style="padding-top: 20px; height: 900px">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="AllUsers">
                    <h1 class="h1">Admin panel</h1>

                    <!--Выбор вкладки UsersTable или New User-->

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#UsersTable">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#NewUser">New User</a>
                        </li>
                    </ul>

                    <!--Вкладка UsersTable-->

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="UsersTable">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        <thead>
                                        <tbody>
                                        <tr th:each="u: ${users}">
                                            <td th:text="${u.id}"/>
                                            <td th:text="${u.firstName}"/>
                                            <td th:text="${u.lastName}"/>
                                            <td th:text="${u.getAge()}"/>
                                            <td th:text="${u.getEmail()}"/>
                                            <td><span th:each="role : ${u.getRoles()}">
                                            <span th:text="${role.getValue()}"></span>
                                            </span>
                                            </td>

                                            <!-- Кнопка Edit -->

                                            <td>

                                                <button type="button" class="btn btn-info" data-toggle="modal"
                                                        th:data-target="${'#Edit' + u.getId()}"> Edit
                                                </button>

                                                <!--Модальное окно Edit-->

                                                <div class="modal fade" th:id="${'Edit' + u.getId()}"
                                                     tabindex="-1" role="dialog"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body offset-sm-4 text-center">
                                                                <form class="row g-3" th:method="PATCH"
                                                                      th:action="@{/admin/edit/{id}(id=${u.getId()})}"
                                                                      th:object="${u}">
                                                                    <div class="row">
                                                                        <div class="form-group col-xs-12">
                                                                            <div class="control-group required">
                                                                                <div class="controls">
                                                                                    <label for="id"
                                                                                           class="font-weight-bold">ID<input
                                                                                            class="form-control"
                                                                                            type="text" id="id"
                                                                                            th:value="*{id}"
                                                                                            disabled></label>
                                                                                    <h1></h1>
                                                                                    <label th:for="firstName"
                                                                                           class="font-weight-bold">First
                                                                                        Name
                                                                                        <input class="form-control"
                                                                                               type="text"
                                                                                               name="firstName"
                                                                                               th:value="*{firstName}"
                                                                                               required minlength="2" maxlength="15"></label>
                                                                                    <h1></h1>
                                                                                    <label th:for="lastName"
                                                                                           class="font-weight-bold">Last
                                                                                        Name
                                                                                        <input class="form-control"
                                                                                               type="text"
                                                                                               name="lastName"
                                                                                               th:value="*{lastName}"
                                                                                               required minlength="2" maxlength="15"></label>
                                                                                    <h1></h1>
                                                                                    <label th:for="age"
                                                                                           class="font-weight-bold">Age
                                                                                        <input class="form-control"
                                                                                               type="number" step="1"
                                                                                               min="0"
                                                                                               name="age"
                                                                                               th:value="*{age}"
                                                                                               required minlength="1" maxlength="150"></label>
                                                                                    <h1></h1>
                                                                                    <label th:for="email"
                                                                                           class="font-weight-bold">Email
                                                                                        <input class="form-control"
                                                                                               type="email" name="email"
                                                                                               th:value="*{email}"
                                                                                               required></label>
                                                                                    <h1></h1>
                                                                                    <label th:for="password"
                                                                                           class="font-weight-bold">Password
                                                                                        <input class="form-control"
                                                                                               type="password"
                                                                                               name="password"
                                                                                               required minlength="3" maxlength="15"></label>
                                                                                    <h1></h1>
                                                                                    <label class="font-weight-bold">Role</label>
                                                                                    <select class="form-control form-control-sm"
                                                                                            name="roles" multiple
                                                                                            style="height: 50px; width: 200px; margin: 0 auto">
                                                                                        <option th:each="role: ${roles}"
                                                                                                th:value="${role.getId()}"
                                                                                                th:text="${role.getValue()}"
                                                                                                name="roles">
                                                                                        </option>
                                                                                    </select>
                                                                                    <br>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-primary">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <!-- Кнопка Delete -->

                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        th:data-target="${'#Delete' + u.getId()}"> Delete
                                                </button>
                                            </td>

                                            <!--Модальное окно Delete-->

                                            <div class="modal fade" th:id="${'Delete' + u.getId()}" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body offset-sm-4 text-center">
                                                            <form th:method="DELETE"
                                                                  th:action="@{/admin/{id}(id=${u.getId()})}"
                                                                  th:object="${u}">
                                                                <div class="row">
                                                                    <div class="form-group col-xs-12">
                                                                        <div class="control-group required">
                                                                            <label for="idDelete"
                                                                                   class="font-weight-bold">ID</label>
                                                                            <input class="form-control" type="text"
                                                                                   id="idDelete"
                                                                                   th:value="*{id}" disabled>
                                                                            <h1></h1>
                                                                            <label for="firstNameDelete"
                                                                                   class="font-weight-bold">First
                                                                                Name</label>
                                                                            <input class="form-control" type="text"
                                                                                   id="firstNameDelete"
                                                                                   th:value="*{firstName}"
                                                                                   disabled>
                                                                            <h1></h1>
                                                                            <label for="lastNameDelete"
                                                                                   class="font-weight-bold">Last
                                                                                Name</label>
                                                                            <input class="form-control" type="text"
                                                                                   id="lastNameDelete"
                                                                                   th:value="*{lastName}"
                                                                                   disabled>
                                                                            <h1></h1>
                                                                            <label for="ageDelete"
                                                                                   class="font-weight-bold">Age</label>
                                                                            <input class="form-control" type="text"
                                                                                   id="ageDelete" th:value="*{age}"
                                                                                   disabled>
                                                                            <h1></h1>
                                                                            <label for="emailDelete"
                                                                                   class="font-weight-bold">Email</label>
                                                                            <input class="form-control" type="email"
                                                                                   id="emailDelete" th:value="*{email}"
                                                                                   disabled>
                                                                            <h1></h1>
                                                                            <label class="font-weight-bold">Role</label>
                                                                            <select class="form-control form-control-sm"
                                                                                    name="roles" multiple
                                                                                    style="height: 50px; width: 200px; margin: 0 auto"
                                                                                    disabled>
                                                                                <option th:each="role: ${roles}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.getValue()}"
                                                                                        name="roles">
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger">Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--Вкладка NewUser-->

                        <div class="tab-pane fade show" id="NewUser">
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body text-center">
                                    <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                                        <label class="font-weight-bold" for="firstNameNew">First name</label>
                                        <br>
                                        <input class="form-control" type="text" required minlength="2" maxlength="15" th:field="*{firstName}"
                                               id="firstNameNew"
                                               style="height: 30px; width: 300px; margin: 0 auto"
                                               placeholder="First Name"/>
                                        <br>
                                        <label class="font-weight-bold" for="lastNameNew">Last name</label>
                                        <br>
                                        <input class="form-control" type="text" required minlength="2" maxlength="15" th:field="*{lastName}"
                                               id="lastNameNew"
                                               style="height: 30px; width: 300px; margin: 0 auto"
                                               placeholder="Last Name"/>
                                        <br>
                                        <label class="font-weight-bold" for="ageNew">Age</label>
                                        <br>
                                        <input class="form-control" type="number" step="1" min="0" required minlength="1" maxlength="120" th:field="*{age}"
                                               id="ageNew"
                                               style="height: 30px; width: 300px; margin: 0 auto"
                                               placeholder="Age"/>
                                        <br>
                                        <label class="font-weight-bold" for="emailNew">Email</label>
                                        <br>
                                        <input class="form-control" type="email" th:field="*{email}"
                                               id="emailNew"
                                               style="height: 30px; width: 300px; margin: 0 auto"
                                               placeholder="Email"/>
                                        <br>
                                        <label class="font-weight-bold" for="passwordNew">Password</label>
                                        <br>
                                        <input class="form-control" type="password" required minlength="3" maxlength="15" th:field="*{password}"
                                               id="passwordNew"
                                               style="height: 30px; width: 300px; margin: 0 auto"
                                               placeholder="Password"/>
                                        <br>
                                        <label class="font-weight-bold">Role</label>
                                        <select class="form-control form-control-sm" name="roles" multiple
                                                style="height: 50px; width: 300px; margin: 0 auto">
                                            <option th:each="role: ${roles}"
                                                    th:value="${role.getId()}"
                                                    th:text="${role.getValue()}"
                                                    name="roles">
                                            </option>
                                        </select><br>
                                        <div>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>